<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
    <h1>Under Maintenance!</h1>

    <p>Site under mainteannce.  we will be right back.</p>

</body>
</html>